.backIMG {
    height: 810px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.backDIV {
    height: 80%;
    margin: auto;
    width: 100%;
    position: relative;
}
.logo {
    z-index: 99;
    position: absolute;
    bottom: 65%;
    right: 45%;
    left: 41%;
    height: 50px;
    width: 120px;
}

.button1 {
    z-index: 99;
    position: absolute;
    bottom: 30%;
    right: 40%;
    height: 50px;
    width: 120px;
}
.button2 {
    z-index: 99;
    position: absolute;
    bottom: 30%;
    right: 50%;
    height: 50px;
    width: 120px;
}
button { 
    color: none;
}
